[Unit]
Description=Zabbix Agent
After=network.target
Documentation=https://www.zabbix.com/manuals

[Service]
User=zabbix
Group=zabbix
ExecStart=/usr/local/zabbix/sbin/zabbix_agentd
ExecStartPre=/usr/bin/mkdir -p /usr/local/zabbix/logs
ExecStartPre=/usr/bin/chown zabbix:zabbix /usr/local/zabbix/logs
ExecStartPre=/usr/bin/chmod 0755 /usr/local/zabbix/logs
PermissionsStartOnly=true
PIDFile=/usr/local/zabbix/logs/zabbix_agentd.pid
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000

[Install]
WantedBy=multi-user.target
